MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/qr-saas?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret
CLIENT_URL=http://localhost:3000
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
EMAIL_FROM=QR SaaS <no-reply@example.com>
PORT=5000
